{% extends "layout/basic.html" %}

{% block title %}главная{% endblock %}

{% block content %}

<div style="text-align: center; ">
			<a href ="/tavolga/number/{{num.id}}/"><img class="fit-picture" style="width: 600px; height: auto;" src="{{ num.photo.url |slice:"5:" }}" alt="My image"></a>
</div>
<h1 style="text-align: center;">Новости:</h1>
{% for n in news %}
<div class="news">
    <h2> <a href ="new/{{n.id}}/">{{ n.name }}</a></h2>
    {% autoescape off %}
    {{n.text | truncatechars_html:300 }}
    <a href ="/tavolga/new/{{n.id}}/">--> читать далее</a>
    {% endautoescape %}
</div>

{% endfor %}
{% endblock %}
