{% extends "layout/basic.html" %}
{% load static %}

{% block title %}выпуски{% endblock %}




{% block content %}
<h1 style="text-align: center;">Все выпуски:</h1>
<br>
<br>
<br>
{% for n in numbers %}


<div>
	<ul>
		<li>
			<a href ="/tavolga/number/{{n.id}}/"><img class="fit-picture" src="{{ n.photo.url }}" alt="My image"></a>

		</li>
		<li style="padding-left: 20%">
				<h2> <a href ="/tavolga/number/{{n.id}}/">{{n.name}}</a> </h2>

		</li>
	</ul>
	</div>
<hr>
	{% endfor %}


{% endblock %}

