{% extends "layout/basic.html" %}

{% block title %}о нас{% endblock %}

{% block content %}
<section role="search">
	<div>
		<h2>О нас</h2>
		{% autoescape off %}
		{{cont.about}}
		{% endautoescape %}

		<h2>контакты</h2>

		{% if cont.vk %}
		<p><a href="{{ cont.vk }}" target="_blank">наша страница вконтакте</a>
		{% endif %}
		{% if cont.fb %}
		<p><a href="{{ cont.fb }}" target="_blank">наша страница на facebook</a>
		{% endif %}
		{% if cont.tg %}
		<p><a href="{{ cont.tg }}" target="_blank">наш tg-канал</a>
		{% endif %}
		{% if cont.fb %}
		<p><a href="{{ cont.fb }}" target="_blank">наш instagram</a>
		{% endif %}
	</div>
</section>

{% endblock %}
