{% extends "layout/basic.html" %}

{% block title %} {{ num.name}}{% endblock %}


{% block content %}

<div class="numberauth">
	<img style="width: 800px; height: auto;" src="{{ num.photo.url |slice:"5:" }}" alt="My image">
	<br>
	<br>
	<br>
	<h1>{{num.name}}</h1>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	{% for m in mat %}
	<a href="#{{m.id}}"><h2>{{ m.auth.name}} {{ m.auth.soname}}: {{m.name}}</h2></a>
	{% endfor %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% for m in mat %}
	<h3 id="{{m.id}}">{{ m.auth.name}} {{ m.auth.soname}}: {{m.name}}</h3>
	<div class="mat">
		{% autoescape off %}
		{{m.text}}
		{% endautoescape %}
	</div>
	<img style="width: 60px; height: auto; padding: 30px;" src="/static/list.png" alt="">

{% endfor %}
</div>





{% endblock %}

